@model CustomerProject.Models.OrdersForCustomer

@{
    ViewBag.Title = "Orders For Customer";
}

<h2>Orders For Custome</h2>
<h3>Orders for Customer: @Model.Customer.Name</h3>
l
<table class="table">
    <tr>
        <th>Date</th>
        <th>Total</th>
    </tr>

@foreach (var item in Model.Orders) {
    <tr>
        <td>
            @item.Date
        </td>
        <td>
            @item.Total
        </td>
    </tr>
}

</table>
